/* Comentário no CSS */
/* Seletor de elementos */
/* p -> seletor */
/* font-size -> propriedade */
body {
    background-color: #30302e;
    color: #ffffff;
    font-family: Verdana;
    /* Espaço interno do elemento */
    padding: 20px;
}

p {
    font-size:16px;
    line-height: 1.6; /* Espaçamento entre linhas, conceito de leading. Neste caso, estamos dando 60% a mais de espaçamento no parágrafo */
    margin-bottom: 15px; /* Margem inferior */
    color: #8cc9e4;
    padding: 10px;
}

section p{
    color: orange;
}
/* Exemplo de uso da árvore DOM */

/* Seletor de CLASSE */
.destaque {
    background-color: #ffd700;
    color: #000000;
    padding: 10px;
    /* border 5px (espessura) solid (tipo da borda) e a cor */
    border-left: 5px solid #ff6347;
    /* Posicionamentos:
    left - esquerda
    right - direita
    top - superior
    bottom - inferior.
    Ao colocar apenas border, os valores setão aplicados em todos os posicionamentos */
    border-radius: 3px;
    /*Arredonda as bordas do elemento*/
}

/* Seletor de ID */
#unico {
    background-color: #8cc9e4;
    color: #30202e;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    height: 100px;
    /* height é altura */
    /* width é largura */
}

.post {
    background-color: #3a3a38;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 5px;
}

.post h2 {
    color: #ffd700;
}

/* Agrupamento de seletores */
h3, h4, h5 {
    color: #4caf50;
    margin-top: 15px;
    margin-bottom: 10px;
    /* Margin é o espaço externo (de fora) do elemento */
    /* Padding é o espaço interno */
}

.observacoes {
    background-color: #252523;
    padding: 20px;
    border: 2px solid #8cc9e4;
    border-radius: 8px;
    margin-top: 30px; 
}

ul {
    margin-left: 30px;
    margin-top: 10px;
}

li {
    margin-bottom:8 px;
}

.observacoes h2 {
    color:#8cc9e4
}

.botao {
    background-color:#ff6347;
    margin-top: 40px;
    margin-left: 20px;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}